<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pam6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true" />

        <!-- Halaman utama setelah login -->
        <activity
            android:name=".activities.ContactActivity"
            android:exported="true" />

        <!-- Tambah Kontak -->
        <activity
            android:name=".activities.AddContactActivity"
            android:exported="false" />

        <!-- Lihat Kontak -->
        <activity
            android:name=".activities.ViewContactActivity"
            android:exported="false" />

        <!-- Edit Kontak -->
        <activity
            android:name=".activities.DetailContactActivity"
            android:exported="false" />

    </application>

</manifest>
